[submodule "extern/cgltf"]
	path = extern/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/magic_enum"]
	path = extern/magic_enum
	url = https://github.com/Neargye/magic_enum/
[submodule "extern/amd/FidelityFX"]
	path = extern/amd/FidelityFX
	url = https://github.com/GPUOpen-LibrariesAndSDKs/FidelityFX-SDK/
[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "extern/nvrhi"]
	path = extern/nvrhi
	url = https://github.com/lawfuyang/nvrhi
[submodule "extern/microprofile"]
	path = extern/microprofile
	url = https://github.com/jonasmr/microprofile
[submodule "extern/shadermake"]
	path = extern/shadermake
	url = https://github.com/NVIDIAGameWorks/ShaderMake
[submodule "extern/meshoptimizer"]
	path = extern/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "extern/taskflow"]
	path = extern/taskflow
	url = https://github.com/taskflow/taskflow
[submodule "extern/nvidia/NRD"]
	path = extern/nvidia/NRD
	url = https://github.com/NVIDIAGameWorks/RayTracingDenoiser
[submodule "extern/nvidia/RTXGI-DDGI"]
	path = extern/nvidia/RTXGI-DDGI
	url = https://github.com/NVIDIAGameWorks/RTXGI-DDGI
[submodule "extern/nvidia/RTXTS-TTM"]
	path = extern/nvidia/RTXTS-TTM
	url = https://github.com/NVIDIA-RTX/RTXTS-TTM
[submodule "extern/volk"]
	path = extern/volk
	url = https://github.com/zeux/volk
[submodule "extern/nvidia/MathLib"]
	path = extern/nvidia/MathLib
	url = https://github.com/NVIDIA-RTX/MathLib
[submodule "extern/amd/FidelityFX2"]
	path = extern/amd/FidelityFX2
	url = https://github.com/GPUOpen-LibrariesAndSDKs/FidelityFX-SDK
