[submodule "extern/cgltf"]
	path = extern/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/magic_enum"]
	path = extern/magic_enum
	url = https://github.com/Neargye/magic_enum/
[submodule "extern/amd/FidelityFX"]
	path = extern/amd/FidelityFX
	url = https://github.com/GPUOpen-LibrariesAndSDKs/FidelityFX-SDK/
[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "extern/basis_universal"]
	path = extern/basis_universal
	url = https://github.com/BinomialLLC/basis_universal
[submodule "extern/nvrhi"]
	path = extern/nvrhi
	url = https://github.com/lawfuyang/nvrhi
[submodule "extern/microprofile"]
	path = extern/microprofile
	url = https://github.com/jonasmr/microprofile
[submodule "extern/shadermake"]
	path = extern/shadermake
	url = https://github.com/NVIDIAGameWorks/ShaderMake
[submodule "extern/d3d12ma"]
	path = extern/d3d12ma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb
[submodule "extern/meshoptimizer"]
	path = extern/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "extern/tinyddsloader"]
	path = extern/tinyddsloader
	url = https://github.com/benikabocha/tinyddsloader
[submodule "extern/taskflow"]
	path = extern/taskflow
	url = https://github.com/taskflow/taskflow
[submodule "extern/nvidia/NRD"]
	path = extern/nvidia/NRD
	url = https://github.com/NVIDIAGameWorks/RayTracingDenoiser
