[submodule "extern/cgltf"]
	path = extern/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/magic_enum"]
	path = extern/magic_enum
	url = https://github.com/Neargye/magic_enum/
[submodule "extern/amd/FidelityFX"]
	path = extern/amd/FidelityFX
	url = https://github.com/GPUOpen-LibrariesAndSDKs/FidelityFX-SDK/
[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "extern/basis_universal"]
	path = extern/basis_universal
	url = https://github.com/BinomialLLC/basis_universal
[submodule "extern/nvrhi"]
	path = extern/nvrhi
	url = https://github.com/lawfuyang/nvrhi
[submodule "extern/taskflow"]
	path = extern/taskflow
	url = https://github.com/lawfuyang/taskflow
